body {
    background-color: #444;
    color: whitesmoke;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.banner {
    width: 100%;
}

.logo {
    width: 30px;
    height: 30px;
    filter: invert(98%) sepia(0%) saturate(445%) hue-rotate(143deg)
    brightness(84%) contrast(77%);
}

a:hover {
    cursor: pointer;
}

.offcanvas {
    background-color: #333;
}